#header {
    height: 120px;
}

.logo {
    width: 100px;
    height: max-content;
    margin: 0 10px;
    float: left;
}

.title h1 {
    text-align: center;
}

.navigation {
    justify-content: center;
    display: flex;
}

.navigation a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}



.main {
    background-color: lightgreen;
    width: 61%;
    float: left;
    margin: 10px 5% 0 0;
    border: 2px solid black;
    height: 350px;
    display: flex;
    justify-content: center;
}



.sidebar {
    background-color: lightgreen;
    margin: 10px 0 0 0;
    width: 32%;
    margin: 10px 0 0 0;
    height: 350px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
}



footer {
    background-color: grey;
    width: 100%;
    margin: 10px 0 40px 0;
    justify-content: center;
    float: left;
    display: flex;
    height: 200px;
    border: 2px solid black;
}